.content {
    border-radius: var(--aeth-radius-s);
}

body.theme-light .markdown-preview-view,
body.theme-light main,
body.theme-light .content {
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
}

body.theme-dark .markdown-preview-view,
body.theme-dark main,
body.theme-dark .content {
    box-shadow: none;
}


//left sidebar smoother look
.sidebar {
    box-shadow: none !important;
    background: var(--background-primary);
}

//right sidebar smoother look
.toc,
.backlinks {
    box-shadow: none !important;
    background: var(--background-primary);
}